GROUP NUMBER:

GROUP MEMBERS that participated in the production of this file:

Comments:

# Problem Set 3



This problem set provides both computational and theoretical practice on forming mean-variance efficient portfolios and employing mean-variance mathematics.

### 1. 

In order to proceed you need Microsoft Excel and file "https://www.dropbox.com/s/5qituivg6ovlscr/Homework3.xlsx?dl=1". 

This file contains data for 10 value-weighted industry portfolios monthly returns over an 90-year period.  

You will be computing mean-variance efficient portfolios for these 10 industries.

Find the minimum variance and tangency portfolios of the industries. 
(hint 1:  For the tangency portfolio, put everything in excess return space and use the formular we derived in class) 


(hint 2::  to find the minimum variance portfolio, look at the maximization problem of Lecture 3 and now replace the constraint that the portfolio has to have some target expected return, by the constraint that the weights have to add up to 1-- The constraint becomes 1'@ W-1 instead of ER' @ W -mutarget , so in practice you are simply replacing the vector of average returns by a vector of 1's...What does this mean? It means that a small adjustement to the formula you use to construct the tangent portfolio will deliver for you the minimum variance portfolio.



Report their weights. Don't forget to normalize so they add up to 1, and be careful so the signs don't flip! 

Comment on the different weights applied to each industry under the MVP and Tangent portfolios

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import OrderedDict
import sys
sys.path.append("D:\\alvin_py\\stepTwo\\investment") # 你的路径
from scipy.optimize import minimize

In [5]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y%m').strftime("%Y-%m")

url = "https://www.dropbox.com/s/5qituivg6ovlscr/Homework3.xlsx?dl=1"
data = pd.read_excel("D:\\alvin_py\\stepTwo\\investment\\Homework3.xlsx", index_col=0, date_parser=dateparse)
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NoDur</th>
      <th>Durbl</th>
      <th>Manuf</th>
      <th>Enrgy</th>
      <th>HiTec</th>
      <th>Telcm</th>
      <th>Shops</th>
      <th>Hlth</th>
      <th>Utils</th>
      <th>Other</th>
      <th>Risk-free rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>192607</th>
      <td>1.45</td>
      <td>15.55</td>
      <td>4.69</td>
      <td>-1.18</td>
      <td>2.90</td>
      <td>0.83</td>
      <td>0.11</td>
      <td>1.77</td>
      <td>7.04</td>
      <td>2.16</td>
      <td>0.22</td>
    </tr>
    <tr>
      <th>192608</th>
      <td>3.97</td>
      <td>3.68</td>
      <td>2.81</td>
      <td>3.47</td>
      <td>2.66</td>
      <td>2.17</td>
      <td>-0.71</td>
      <td>4.25</td>
      <td>-1.69</td>
      <td>4.38</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>192609</th>
      <td>1.14</td>
      <td>4.80</td>
      <td>1.15</td>
      <td>-3.39</td>
      <td>-0.38</td>
      <td>2.41</td>
      <td>0.21</td>
      <td>0.69</td>
      <td>2.04</td>
      <td>0.29</td>
      <td>0.23</td>
    </tr>
    <tr>
      <th>192610</th>
      <td>-1.24</td>
      <td>-8.23</td>
      <td>-3.63</td>
      <td>-0.78</td>
      <td>-4.58</td>
      <td>-0.11</td>
      <td>-2.29</td>
      <td>-0.57</td>
      <td>-2.63</td>
      <td>-2.85</td>
      <td>0.32</td>
    </tr>
    <tr>
      <th>192611</th>
      <td>5.21</td>
      <td>-0.19</td>
      <td>4.10</td>
      <td>0.01</td>
      <td>4.71</td>
      <td>1.63</td>
      <td>6.43</td>
      <td>5.42</td>
      <td>3.71</td>
      <td>2.11</td>
      <td>0.31</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
def get_top_10():
    Re_top10 = []
    for x, y in data.iterrows():
        rows = OrderedDict()
        rows['NoDur'] = y['NoDur'] - y['Risk-free rate']
        rows['Durbl'] = y['Durbl'] - y['Risk-free rate']
        rows['Durbl'] = y['Durbl'] - y['Risk-free rate']
        rows['Manuf'] = y['Manuf'] - y['Risk-free rate']
        rows['Enrgy'] = y['Enrgy'] - y['Risk-free rate']
        rows['HiTec'] = y['HiTec'] - y['Risk-free rate']
        rows['Telcm'] = y['Telcm'] - y['Risk-free rate']
        rows['Shops'] = y['NoDur'] - y['Risk-free rate']
        rows['Hlth '] = y['Hlth '] - y['Risk-free rate']
        rows['Utils'] = y['Utils'] - y['Risk-free rate']
        rows['Other'] = y['Other'] - y['Risk-free rate']
        Re_top10.append(rows)

    Re_top10_df = pd.DataFrame(Re_top10, index=data.index)
    return Re_top10_df

In [11]:
def get_msc(df):
    return df.mean(), df.std(), df.cov()

In [56]:
Re_top10_df = get_top_10()
Re_top10_df.head(2)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NoDur</th>
      <th>Durbl</th>
      <th>Manuf</th>
      <th>Enrgy</th>
      <th>HiTec</th>
      <th>Telcm</th>
      <th>Shops</th>
      <th>Hlth</th>
      <th>Utils</th>
      <th>Other</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>192607</th>
      <td>1.23</td>
      <td>15.33</td>
      <td>4.47</td>
      <td>-1.40</td>
      <td>2.68</td>
      <td>0.61</td>
      <td>1.23</td>
      <td>1.55</td>
      <td>6.82</td>
      <td>1.94</td>
    </tr>
    <tr>
      <th>192608</th>
      <td>3.72</td>
      <td>3.43</td>
      <td>2.56</td>
      <td>3.22</td>
      <td>2.41</td>
      <td>1.92</td>
      <td>3.72</td>
      <td>4.00</td>
      <td>-1.94</td>
      <td>4.13</td>
    </tr>
  </tbody>
</table>
</div>

In [57]:
Mue_top10, Std_top10, Cov_top10 = get_msc(Re_top10_df)
Mue_top10, Std_top10, Cov_top10

(NoDur    0.703742
 Durbl    0.816913
 Manuf    0.739448
 Enrgy    0.742180
 HiTec    0.812834
 Telcm    0.587128
 Shops    0.703742
 Hlth     0.824584
 Utils    0.601674
 Other    0.629392
 dtype: float64, NoDur    4.626245
 Durbl    7.764269
 Manuf    6.308047
 Enrgy    6.097319
 HiTec    7.319941
 Telcm    4.608105
 Shops    4.626245
 Hlth     5.603567
 Utils    5.572461
 Other    6.476691
 dtype: float64,            NoDur      Durbl      Manuf      Enrgy      HiTec      Telcm  \
 NoDur  21.402147  26.776604  24.856814  17.609312  25.061231  14.496576
 Durbl  26.776604  60.283866  42.790995  29.401838  44.154922  22.674181
 Manuf  24.856814  42.790995  39.791458  28.378263  39.903672  19.994928
 Enrgy  17.609312  29.401838  28.378263  37.177302  27.683532  14.514477
 HiTec  25.061231  44.154922  39.903672  27.683532  53.581535  23.205089
 Telcm  14.496576  22.674181  19.994928  14.514477  23.205089  21.234633
 Shops  21.402147  26.776604  24.856814  17.609312  25.061231  14.496576
 Hlth   20.802765  27.685748  26.836471  19.315567  29.642558  15.631705
 Utils  18.241880  26.820796  24.559749  21.053395  25.330366  16.235567
 Other  25.354565  40.597960  37.106639  27.465180  38.044668  21.111768

            Shops      Hlth       Utils      Other
 NoDur  21.402147  20.802765  18.241880  25.354565
 Durbl  26.776604  27.685748  26.820796  40.597960
 Manuf  24.856814  26.836471  24.559749  37.106639
 Enrgy  17.609312  19.315567  21.053395  27.465180
 HiTec  25.061231  29.642558  25.330366  38.044668
 Telcm  14.496576  15.631705  16.235567  21.111768
 Shops  21.402147  20.802765  18.241880  25.354565
 Hlth   20.802765  31.399961  19.521025  26.853848
 Utils  18.241880  19.521025  31.052318  26.255535
 Other  25.354565  26.853848  26.255535  41.947525  )

In [80]:
Rf_mean = np.mean(data['Risk-free rate'])
print(Re_top10_df.shape[1])
w_zero = np.ones(Re_top10_df.shape[1]) / Re_top10_df.shape[1]
w_zero

10

array([0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1])

In [81]:
# MVP，最小方差投资组合
w_zero @ Re_top10_df.mean()

0.716163704396632

In [97]:
def get_sharp_ratio(w, m=Mue_top10, c=Cov_top10):
    return w @ m.values / np.sqrt(w @ c @ w)

In [98]:
print(get_sharp_ratio(w=w_zero))

0.1399030226981996

In [99]:
cons = ({'type': 'eq', 'fun': lambda W: W.sum() - 1})

In [100]:
def get_mue(w, m=Mue_top10):
    return w @ m.values

In [101]:
def get_var(w, c=Cov_top10):
    return w @ c @ w

In [102]:
MVP_result = minimize(get_var, w_zero, constraints=cons)
MVP_result

     fun: 13.82303184241512
     jac: array([27.64593625, 27.64652967, 27.64618778, 27.64603615, 27.64561105,
       27.64592969, 27.64593649, 27.64641261, 27.64639568, 27.64570069])
 message: 'Optimization terminated successfully.'
    nfev: 133
     nit: 10
    njev: 10
  status: 0
 success: True
       x: array([ 0.37194169, -0.07325277, -0.1347425 ,  0.22389148, -0.11558206,
        0.55145811,  0.37194169,  0.06723138,  0.07879124, -0.34167825])

In [103]:
min_var = MVP_result.fun
min_var

13.82303184241512

In [104]:
min_x = MVP_result.x
min_x

array([ 0.37194169, -0.07325277, -0.1347425 ,  0.22389148, -0.11558206,
        0.55145811,  0.37194169,  0.06723138,  0.07879124, -0.34167825])

In [105]:
Tang_result = minimize(get_sharp_ratio, w_zero, constraints=cons)
min_x = Tang_result.x
min_x

array([ -7733.84262215,   9309.60501403,   7039.08204775,  -6158.72735612,
         5840.83935051,  -4421.84376343,  -7733.84266919, -13426.35897922,
         1998.05514763,  15288.0338302 ])

In [ ]:
w_MVP = MVP_result.x

In [ ]:
cov_inv = np.matrix(Cov_top10).I

LinAlgError: singular matrix

In [108]:
w = cov_inv @ Mue_top10.values      
w_Tang = w/w.sum()  
print(w_Tang)
print(w_Tang.sum())

NameError: name 'cov_inv' is not defined

In [112]:
get_sharp_ratio(Tang_result.x)

-0.006085639989637262

In [113]:
get_sharp_ratio(w_Tang)

NameError: name 'w_Tang' is not defined

### 2. 

a)Compute the means and standard deviations of the minimum variance portfolio and Tangent portfolios.  

b)Plot the mean-standard deviation efficient frontier of these 10 industries. Plot the 10 industries as well on a mean-standard deviation diagram.  
- Do that for the case that you have free borrowing and lending like we did in the beggining of notebook 4, where we can simply scale up and down the tangency portfolio weights, and also for the case that you cannot borrow or invest in the risk-free asset-- for this case you will need to use the maximizer that we use in the end of notebook 4.

c)Plot the mean-variance efficient frontier of these 10 industries. Plot the 10 industries as well on a mean-standard deviation diagram. 
- Do that for the case that you have free borrowing and lending like we did in the beggining of notebook 4, where we can simply scale up and down the tangency portfolio weights, and also for the case that you cannot borrow or invest in the risk-free asset-- for this case you will need to use the maximizer that we use in the end of notebook 4.

In [ ]:
get_mue(min_x)

In [ ]:
get_var(min_x)

In [ ]:
get_mue(w_Tang)

In [ ]:
get_var(w_Tang)

In [ ]:

std_mu = pd.DataFrame([Mue_top10 + Rf_mean, Std_top10], index=['Mu_top10', 'Std_top10']).T
std_mu

In [ ]:
targetmue = np.linspace(0.6, 1.2, 60)

ef_std_mu = []

for mue in targetmue: 
    cons = ({'type': 'eq', 'fun': lambda W: W_Mue(W) - mue}, 
            {'type': 'eq', 'fun': lambda W: W.sum() - 1}) 
    result = minimize(W_Var, w0, constraints=cons)
    w = result.x
    std = result.fun ** 0.5  
    ef_std_mu.append([mue + Rf, std]) 
ef_std_mu = np.array(ef_std_mu)  
ef_std_mu

In [ ]:
plt.xlabel('standard deviation')
plt.ylabel('expected return')
plt.title('Efficient Frontier: Mu-Std ')

plt.scatter(ef_std_mu[:, 1], ef_std_mu[:, 0])
for i in std_mu.index:
    plt.text(std_mu.loc[i, 'Std'], std_mu.loc[i, 'Mu'], i)

In [ ]:
plt.xlabel('standard deviation')
plt.ylabel('expected return')
plt.title('Efficient Frontier: Mu-Std ')

plt.scatter(ef_std_mu[:, 1] ** 2, ef_std_mu[:, 0])
for i in std_mu.index:
    plt.text(std_mu.loc[i, 'Std'] ** 2, std_mu.loc[i, 'Mu'], i)

### 3. 

a)Comment on the reliability of the mean return estimates for each industry.

b)Describe how you would evaluate if they are well estimated.

c)Construct the 95% confidence interval for the estimator of each industry expected return.


d)Artificially change the mean return estimates of each industry by a one standard error increase.  How much does the Tangent portfolio change?  Does the efficient frontier change a lot or a little? What does that teach us?
 
- Do that for the case that you have free borrowing and lending like we did in the beggining of notebook 4, where we can simply scale up and down the tangency portfolio weights, and also for the case that you cannot borrow or invest in the risk-free asset-- for this case you will need to use the maximizer that we use in the end of notebook 4.

In [ ]:
std_mu['95%CI_lower'] = std_mu['Mu'] - 1.64 * (std_mu['Std'] / (Re.shape[0] ** .5) )
std_mu['95%CI_higher'] = std_mu['Mu'] + 1.64 * (std_mu['Std'] / (Re.shape[0] ** .5) )
std_mu

In [ ]:
#重新定义Mue，然后把第一题的东西做一遍
Mue_L = std_mu['95%CI_lower']
Mue_H = std_mu['95%CI_higher']

### 4. 

a) Comment on the reliability of the covariance matrix estimate.  

b) First,lets ignore covaraince terms:  assume that all covariances are zero and recompute the efficient frontier using the diagonal matrix of variances as the covariance matrix. (you might find the fucntion diag() from the numpy package very useful here). For this one you can focus on the case with free borrowing and lending. Report the tangency portfolio weights.

c)Then, lets also ignore variance terms: assume very simply that the covariance matrix is just the identity matrix (i.e., a matrix of ones along the diagonal and zeros everywhere else). Compute tangency portfolio weights

d) Now lets assume that the average returns are the same, replicated the analysis in (c), look at the weights, what portfolio is this? 

d) Does the mean-variance frontier change a lot or a little, relative to the analysis in 3)?  

e) Discuss how important are the covariance terms relative to the variance terms.

In [ ]:
#重新定义Cov，然后把第一题的东西做一遍
Cov_Diag = np.diag(np.diag(Cov))
Cov_Diag

In [ ]:
Cov_Zdiag = Cov - Cov_Diag
Cov_Zdiag

### 5. 

a) construct the portfolios returns for the 4 different approaches discussed in 3 and 4:tangent portfolio, minimum variance portfolio, minimum variance portfolio that ignores covariance terms, minimum variance portfolio that ignore covariance terms and assume variances are the same.


b) report mean returns for 4 portfolios

c) report mean returns in excess of the risk-free rate

d) Report standard deviations

e) report portfolio sharpe ratios by dividing the answer in (c) by the answer in (d)

f) Discuss the results. Is it surprising what you find? What does that teach us about the different approaches?

g) Suggest an empirical approach to learn even more about which strategy is better (no need to implement just discuss)

## MORE QUESTIONS WILL BE ADDED ON THURSDAY